# Data Import

Our research question is 'What is the shortest distance between two city benches in NYC in 2019?' As a first step, we are preparing our data set.

In [2]:
#Necessary packages
import pandas as pd
import osmnx as ox
import networkx as nx
import geopandas 
import matplotlib.pyplot as plt

In [3]:
#Import data frame, adding 'New York City' to every field in Address-column
df = pd.read_excel('citybenchlocations.xlsx')
df['Address'] = df['Address'] + ', New York City'
df.head(10)

,Bench\nCount,Address,On Street,Cross Streets,Borough,Bench\nType,Installation\nDate
0,1,"540 West 145th Street, New York City",West 145th Street,Broadway and Amsterdam Avenue,Manhattan,backless,2012-05-17
1,2,"110 East 149th Street, New York City",West 149th Street,Gerard Avenue River Avenue,Bronx,backless,2012-05-16
2,3,"125 East 149th Street, New York City",East 149th Street,Gerard Avenue & Walton Avenue,Bronx,backless,2012-05-16
3,4,"360 East 149th Street, New York City",East 149th Street,Courtlandt and Melrose Avenues,Bronx,backless,2012-05-16
4,5,"414 & 416 East 149th Street, New York City",East 149th Street,Bergen and Third Avenues,Bronx,backless,2012-05-16
5,6,"700 Southern Boulevard, New York City",Southern Boulevard,Leggett Avenue and East 156th Street,Bronx,backless,2012-05-16
6,7,"302 Broadway, New York City",Broadway,Marcy Avenue and Rodney Street,Brooklyn,backless,2012-04-14
7,8,"825 Broadway & 829 Broadway, New York City",Broadway,Park Street and Ellery Street,Brooklyn,backless,2012-04-14
8,9,"893 Broadway, New York City",Broadway,Arion Place and Belvedere Street,Brooklyn,backless,2012-04-14
9,10,"57 Malcolm X Boulevard, New York City",Malcolm X Boulevard,Lafayette Avenue & Van Buren Street,Brooklyn,backless,2013-12-13

In [4]:
#Subset original data set
addressborough = df[['Address', 'Borough']]
addressborough.head(10)

                                      Address    Borough
0        540 West 145th Street, New York City  Manhattan
1        110 East 149th Street, New York City      Bronx
2        125 East 149th Street, New York City      Bronx
3        360 East 149th Street, New York City      Bronx
4  414 & 416 East 149th Street, New York City      Bronx
5       700 Southern Boulevard, New York City      Bronx
6                 302 Broadway, New York City   Brooklyn
7  825 Broadway & 829 Broadway, New York City   Brooklyn
8                 893 Broadway, New York City   Brooklyn
9       57 Malcolm X Boulevard, New York City   Brooklyn

## 1.2 Reflections on our Data Wrangling

Our data set is supplied by New York City Dot on https://www1.nyc.gov/html/dot/downloads/pdf/citybench-locations.pdf It is supposed to contain the addresses of all city benches which were installed in NYC in 2019. Unfortunately, the object type of the data set is .pdf which is inappropriate for the pandas package we are using. So we had to take advantage of a .pdf to .xlsx converter: https://smallpdf.com/de/pdf-in-excel. Although we have no gurantee neither for the correctness of the original data set nor for the proper funtionality of the converter, we believe in their reliability. As everywhere in life, even in science, a little bit of trust is necessary to achieve anything. 

Our wrangling shows that several manipulations of the raw data are necessary for answering our research question. The initial data set we are using is not data in the original sense (lat. datum, "the given"). It does not give the answer to our question without further preparation. The data set reveals itself only after a lenthy process of adding, deleting and extracting informationen. So the question arises which moves in data wrangling are legitimate and which moves count as faking the original data.

In our group discussion, Prof. Graßhoff proposes that a move in data wrangling is legitimate iff. it does not change the answer to the research question.